@import "normalize";

.site-wrapper {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#container {
	canvas {
		background: #f2f2f2 !important;
		cursor: -webkit-grab; 
		cursor: -moz-grab;
		margin-left: 20px; 
		&.grabbing {
			cursor: -webkit-grabbing; 
			cursor: -moz-grabbing;
		}
	}
}