@import "normalize";

.site-wrapper {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#container {
	canvas {
		background: #f2f2f2 !important;
		cursor: -webkit-grab; 
		cursor: -moz-grab;
		&.ss {
			cursor: -webkit-grabbing; 
			cursor: -moz-grabbing;
		}
	}
}

// .wrapper {
// 	width: 640px;
// 	height: 400px;
// 	margin: 0 auto; 
// 	overflow: hidden;
// 	background: red;
// }
